@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
    margin: 0;
    font-family: 'Graduate', cursive;
    background-color: #e2faff;
}

#naslov {
    margin-top: 50px;
    margin-bottom: 20px;
}

#table-polaznici {
    margin-top: 20px;
    margin-left: 500px;
    width: 1000px;
    height: 350px;
}

#table-polaznici_length{
    margin-top: 50px;
    margin-left: 460px;
}

#table-polaznici_filter{
    margin-right: 460px;
    margin-top: 50px;
}

#table-polaznici_info{
    margin-left: 460px;
}

#table-polaznici_paginate{
    margin-right: 440px;
}

#dugme {
    width: 300px;
    margin-left: 800px;
}

#forma-novi-polaznik {
    width: 500px;
    margin-top: 40px;
    margin-left: 700px;
    margin-bottom: 100px;
}